@charset "utf-8";
/* CSS Document */
.err{
	color:#F00;
	}
input[type=submit]{
    background-color:#33F;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=text],textarea
{
	padding:4px;
	border:1px solid #CCC;
	border-color:#999;
	border-radius:4px;
	box-sizing:border-box;
	resize:vertical;
	color:#000;
}
body{
	background-image: url(GettyImages-Matthias-Makarinus-1.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	color:#000;
	}
	
.h1{
	color:#03F;
	}

